.achievments {
  width: 100%;


  position: absolute;
  top: 1.4rem;
  left: 0;
  right: 0;
  bottom: 0;

  /* box-sizing: border-box; */

  overflow: auto;
  /* transition: all 0.7s ease-in-out; */
  /* scrollbar-width: none; firefox
  &::-webkit-scrollbar {
   google,safari
    display: none;
   }*/

   /* will-change: transform;
  transition: transform 0.7s ease-in-out; */
}
.achievements-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  
  flex-wrap: wrap;

  margin-top: 1rem;

  place-items: center;
  justify-content: space-evenly;
  
  /* will-change: transform;
  transition: transform 0.7s ease-in-out; */
}
.achievements-list__elements {
  
  border: 3px solid rgba(255, 166, 0, 0.741);
  border-radius: 8px;
  padding: 20px 30px;
  width: 120px;
  height: 130px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin-bottom: 1rem;

  
  /* display: flex;
  flex-grow: 0;*/
  /* justify-content: center; */
  /* display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20px, 50px)); */
}
.achievements-list__trophy {
  opacity: 0.2;
  width: 40px;
  height: 50px;
}
.item {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 90px;
}
.item__name {
  color: rgb(213, 184, 17);
}
.item__description {
  font-size: smaller;
  font-family: cursive;
  height: 40px;
  display: -webkit-box;
 -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em; /* Adjust this based on your font size */
  max-height: 2rem; /* line-height * number of lines */
}
.item__rarity {
  color: purple;
  font-weight: 700;
}
