.pomodoro {
  width: 100%;

  position: absolute;
  top: 1.4rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.pomodoro-container {
  width: 100%;
  margin-top: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
